<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="playerName" value=""/>
    <add key="password" value=""/>
    <add key="hostname" value=""/>
    <add key="port" value="8000"/>
  </appSettings>
</configuration>